viktor==14.25.0
arupcomputepy@git+https://shirleyzhang22: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@github.com/arup-group/arupcomputepy.git
oasys.adsec
svglib==1.3.0
openpyxl==3.1.2
pycairo
rlPyCairo
cryptography