viktor==14.25.0
arupcomputepy@git+https://shirleyzhang22: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@github.com/arup-group/arupcomputepy.git
oasys.adsec
svglib==1.3.0
openpyxl==3.1.2
pycairo
rlPyCairo
cryptography